{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/login-page.css' %}">
</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" style="width: 400px;">
          <img src="{% static 'dist/img/school.png' %}">
        </div>

        {% if validlink %}
        <form class="login100-form validate-form" method="post" onsubmit="return validateForm()">
          {% csrf_token %}
          <span class="login100-form-title">Reset Your Password</span>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="password" id="new_password1" name="new_password1" placeholder="New Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i class="fa fa-lock"></i></span>
            <span class="error-msg" id="new-password1-error"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="password" id="new_password2" name="new_password2"
              placeholder="Confirm Password">
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i class="fa fa-lock"></i></span>
            <span class="error-msg" id="new-password2-error"></span>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Change Password</button>
          </div>
        </form>
        {% else %}
        <div class="login100-form validate-form">
          <span class="login100-form-title">Link Expired or Invalid</span>
          <p>This password reset link is no longer valid. Please request a new one.</p>
          <div class="text-center p-t-12">
            <a class="txt2" href="{% url 'password_reset' %}">Request New Reset Link</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script>
    function validateForm() {
      var pass1 = document.getElementById("new_password1").value;
      var pass2 = document.getElementById("new_password2").value;
      var valid = true;

      if (pass1 === "") {
        document.getElementById("new-password1-error").innerText = "Please enter new password";
        valid = false;
      } else {
        document.getElementById("new-password1-error").innerText = "";
      }

      if (pass2 === "") {
        document.getElementById("new-password2-error").innerText = "Please confirm your password";
        valid = false;
      } else {
        document.getElementById("new-password2-error").innerText = "";
      }

      if (pass1 !== pass2) {
        document.getElementById("new-password2-error").innerText = "Passwords do not match";
        valid = false;
      }

      return valid;
    }
  </script>

  {% if messages %}
  {% for message in messages %}
  <script>
    toastr.options.progressBar = true;
    toastr["{{ message.tags }}"]('{{ message }}');
  </script>
  {% endfor %}
  {% endif %}
</body>

</html>