{% extends 'students/student_index.html' %}
{% block content %}
<h2>Payment</h2>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{ key }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "name": "Lakshya International School",
        "description": "Student Fee Payment",
        "order_id": "{{ order_id }}",
        "handler": function (response){
            // Post to success URL
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "{% url 'payment_success' %}";

            var csrfToken = document.createElement("input");
            csrfToken.name = "csrfmiddlewaretoken";
            csrfToken.value = "{{ csrf_token }}";
            form.appendChild(csrfToken);

            var paymentId = document.createElement("input");
            paymentId.name = "razorpay_payment_id";
            paymentId.value = response.razorpay_payment_id;
            form.appendChild(paymentId);

            var orderId = document.createElement("input");
            orderId.name = "razorpay_order_id";
            orderId.value = response.razorpay_order_id;
            form.appendChild(orderId);

            var signature = document.createElement("input");
            signature.name = "razorpay_signature";
            signature.value = response.razorpay_signature;
            form.appendChild(signature);

            document.body.appendChild(form);
            form.submit();
        }
    };
    var rzp = new Razorpay(options);
    rzp.open();
</script>

<!-- new -->

<!-- <form id="payment-form">
    <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="{{ key }}"
      data-amount="{{ amount }}"
      data-currency="INR"
      data-order_id="{{ order_id }}"
      data-buttontext="Pay Now"
      data-name="School CRM"
      data-description="Student Fee Payment"
      data-image=""
      data-prefill.name="{{ user.username }}"
      data-theme.color="#F37254">
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
  </form>
   -->



{% endblock %}

