<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Report Card</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        th {
            background-color: #f2f2f2;
        }

        .invoice-details {
            margin-top: 20px;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
        }

        .header-logo img {
            width: 70px;
        }

        .header-center {
            flex: 1;
            margin: 0 20px;
            font-size: 12px;
        }

        .header-center h1 {
            font-size: 18px;
            margin: 0;
        }

        .header-center p {
            margin: 5px 0;
            font-size: 11px;
        }

        .invoice-info {
            text-align: right;
            font-size: 11px;
            min-width: 170px;
        }

        .invoice-info p {
            margin: 2px 0;
        }

        .signatures {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

        .signatures td {
            padding-top: 40px;
        }
    </style>
</head>

<body>

    <div class="header-container">
        <div class="header-logo">
            <img src="{{ logo_url }}" alt="School Logo">
        </div>
        <div class="header-center">
            <h1>LAKSHYA INTERNATIONAL SCHOOL</h1>
            <p>Gurua, Maniyapul, Bastih Affiliated to CBSE, New Delhi, Affiliation No: 331205<br>
                Ph: +91-7004251846, Email: lakshyainternationalschool@gmail.com<br>
                lakshyainternationalschoolbth.com</p>
        </div>
        <div class="invoice-info">
            <p>Invoice Date: {{ invoice_date }}</p>
            <p>Invoice Time: {{ invoice_time }}</p>
            <p>Invoice No.: {{ invoice_number|slice:":6" }}</p>
        </div>
    </div>

    <div class="sub-header">
        <h2>YEARLY REPORT CARD</h2>
    </div>

    <table class="info-table">
        <tr>
            <td><strong>Class:</strong> {{ term1.standard }}</td>
            <td><strong>Academic Session:</strong> {{term1.academic_session }}</td>
        </tr>
        <tr>
            <td><strong>Name Of Student:</strong> {{ term1.student }}</td>
            <td><strong>Admission No.:</strong> {{term1.admission_number }}</td>
        </tr>
        <tr>
            <td><strong>Father's Name:</strong> {{term1.father_name }}</td>
            <td><strong>Date Of Birth:</strong> {{term1.date_of_birth }}</td>
        </tr>
        <tr>
            <td><strong>Mother's Name:</strong> {{term1.mother_name }}</td>
            <td><strong>Roll No.:</strong> {{term1.roll_number }}</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Address:</strong> {{ term1.address|safe }}</td>
        </tr>
    </table>

    {% if term3 %}
    <h3>Scholastic - Term {{ term3.term }}</h3>
    {% elif term2 %}
    <h3>Scholastic - Term {{ term2.term }}</h3>
    {% elif term1 %}
    <h3>Scholastic - Term {{ term1.term }}</h3>
    {% else %}
    <h3>No Term Data Available</h3>
    {% endif %}

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <!-- <th>Subject</th>
                <th>Total Marks</th>
                <th>Marks Obtained</th>
                <th>Status</th> -->

                <th rowspan="2">Subjects</th>
                <th colspan="3">1st Term Exam</th>
                <th colspan="3">2nd Term Exam</th>
                <th colspan="3">Final Term Exam</th>
            </tr>

            <tr>
                <th>Total Marks</th>
                <th>Obt Marks</th>
                <th>Status</th>

                <th>Total Marks</th>
                <th>Obt Marks</th>
                <th>Status</th>

                <th>Total Marks</th>
                <th>Obt Marks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tamil</td>
                <td>{{ term1.tamil }}</td>
                <td>{{ term1.tamil }}</td>
                <td>{{ term1.status }}</td>

                <!-- <td>{{ term2.tamil }}</td>
                <td>{{ term2.tamil }}</td>
                <td>{{ term2.status }}</td> -->




                <td>{% if term2 %}{{ term2.tamil }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.tamil }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>{% if term3 %}{{ term3.tamil }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.tamil }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>

                <!-- <td>{{ term3.tamil }}</td>
                <td>{{ term3.tamil }}</td>
                <td>{{ term3.status }}</td> -->
            </tr>

            <tr>
                <td>English</td>
                <td>{{term1.english }}</td>
                <td>{{term1.english }}</td>
                <td>{{term1.status }}</td>

                <!-- <td>{{term2.english }}</td>
                <td>{{term2.english }}</td>
                <td>{{term2.status }}</td>

                <td>{{term3.english }}</td>
                <td>{{term3.english }}</td>
                <td>{{term3.status }}</td> -->

                <td>{% if term2 %}{{ term2.english }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.english }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>{% if term3 %}{{ term3.english }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.english }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Maths</td>
                <td>{{term1.maths }}</td>
                <td>{{term1.maths }}</td>
                <td>{{term1.status }}</td>

                <!-- <td>{{term2.maths }}</td>
                <td>{{term2.maths }}</td>
                <td>{{term2.status }}</td>

                <td>{{term3.maths }}</td>
                <td>{{term3.maths }}</td>
                <td>{{term3.status }}</td> -->

                <td>{% if term2 %}{{ term2.maths }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.maths }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>{% if term3 %}{{ term3.maths }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.maths }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Science</td>
                <td>{{term1.science }}</td>
                <td>{{term1.science }}</td>
                <td>{{term1.status }}</td>

                <!-- <td>{{term2.science }}</td>
                <td>{{term2.science }}</td>
                <td>{{term2.status }}</td>

                <td>{{term3.science }}</td>
                <td>{{term3.science }}</td>
                <td>{{term3.status }}</td> -->

                <td>{% if term2 %}{{ term2.science }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.science }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>{% if term3 %}{{ term3.science }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.science }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <td>Social</td>
                <td>{{term1.social }}</td>
                <td>{{term1.social }}</td>
                <td>{{term1.status }}</td>

                <!-- <td>{{term2.social }}</td>
                <td>{{term2.social }}</td>
                <td>{{term2.status }}</td>

                <td>{{term3.social }}</td>
                <td>{{term3.social }}</td>
                <td>{{term3.status }}</td> -->

                <td>{% if term2 %}{{ term2.social }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.social }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>{% if term3 %}{{ term3.social }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.social }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>
            </tr>

            <tr>
                <td><strong>Total Marks</strong></td>
                <td>500</td>
                <td>{{term1.overall_total }}</td>
                <td>{{term1.status}}</td>


                <td>500</td>
                <td>{% if term2 %}{{ term2.overall_total }}{% else %}-{% endif %}</td>
                <td>{% if term2 %}{{ term2.status }}{% else %}-{% endif %}</td>

                <td>500</td>
                <td>{% if term3 %}{{ term3.overall_total }}{% else %}-{% endif %}</td>
                <td>{% if term3 %}{{ term3.status }}{% else %}-{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <td colspan="2"><strong>Class Teacher Remarks:</strong> {{ term1.comments|safe }}</td>
        </tr>
    </table>

    <table class="signatures">
        <tr>
            <td>{{ term1.parent_signature }}</td>
            <td>{{ term1.signature_class_teacher }}</td>
            <td>{{ term1.signature_principal }}</td>
        </tr>
    </table>

</body>

</html>